@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/*$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";*/

$font-family-sans-serif: 'Roboto', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 500;

$navigation-width: 220px;
$navigation-logo: 100px;

$primary: #0dd3ff;